@import "tailwindcss";


@theme {
  /*Cor Roxa do site*/
  --color-purpleFHT: #2c2355; 
  /*Cor Ciano do site*/
  --color-cyanFHT: #2dd2f7;
  --color-lightCyanFHT: #425a9b6b;
  --color-darkCyanFHT:#2dd2f7;
  /*Cor Azul*/
  --color-blueFHT:#3b5be4;
  --color-lightBlueFHT:#3b5be333;
  --color-darkBlueFHT:#0E779E;

  /*Cor Verde*/
  --color-greenFHT:#39fa49;
  --color-lightGreenFHT:#86f8904b;
  --color-darkGreenFHT:#31D63F;

  /*Cor para paragrafos mais claros*/
  --color-grayFHT:#464646;
  /*cor Para Titulos*/
  --color-lightGrayFHT:#1d1d1d;
  --color-gradient: linear-gradient(90deg,rgba(44, 35, 85, 1) 0%, rgba(87, 68, 171, 1) 50%, rgba(115, 88, 237, 1) 100%);

}

body {
  overflow-x: hidden;
  background-color: #f5f4fa;
}


